# dependencies
/node_modules

# Build
/build

# Documentation stie related artifacts
/src/docs/node_modules
/src/docs/.next
/src/docs/out

# Misc
npm-debug.log*
yarn-error.log*

# Webstorm config
/.idea

# TS incremental build data
/.tsbuildinfo

# Prettier config
/.prettierrc

# CLI cache
/radius-tracker-cache

# CLI output
/usages.sqlite
