# dependencies
/node_modules

# Build
/build

# Demo related artifacts
/src/demo/node_modules
/src/demo/package-lock.json
/src/demo/yarn.lock
/src/demo/build

# Misc
npm-debug.log*

# Webstorm config
/.idea

# TS incremental build data
/.tsbuildinfo

# Lambda related artifacts
/src/lambda/worker/node_modules
/src/lambda/listener/node_modules
/src/lambda/worker/index.js
/src/lambda/listener/index.js
/lambda-worker.zip
/lambda-listener.zip
/terraform/.terraform
