# dependencies
/node_modules

# Build
/build

# Demo related artifacts
/src/demo/node_modules
/src/demo/package-lock.json
/src/demo/build

# Misc
npm-debug.log*

# Webstorm config
/.idea

# TS incremental build data
/.tsbuildinfo
