.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.subheader {
  margin-top: 2rem;
}

.form {
  margin-top: 3rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.input {
  flex-grow: 1;
  max-width: 600px;

  font-size: 1rem;
  padding: .5rem;
}
.button {
  font-size: 1.3rem;
  margin-left: .5rem;
  padding: .5rem;
}

.suggestion {
  font-size: 1.3rem;
  margin: .5rem 0 3rem;
}
.suggestionLink {
  cursor: pointer;
  text-decoration: underline dashed black;
}

.restart {
  cursor: pointer;

  display: inline-block;
  margin-bottom: 1rem;
}
.restartText {
  text-decoration: underline dashed black;
}

.docs {
  display: flex;
  justify-content: flex-end;
}
